.jumbotron {
  background-color:#A0522D;
  border: 3px dashed blanchedalmond;
  background-image: url(../img/dice.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.jumbotron h1, h3{
  text-align: center;
  font-family: 'Mountains of Christmas', cursive;
}
.col-md-4 {
  margin-bottom: 20px;
  font-size: 20px;
}

.col-md-4 h4 {
  font-family: 'Slackey', cursive;
  font-size: 25px;
}
.jumbotron h1 {
  font-size: 112px;
  color: blanchedalmond;
  text-shadow: 5px 5px 5px black;
}
body {
  background-color: #F0AC95;
}
.jumbotron h4 {
  text-align: center;
  font-family: 'Mountains of Christmas', cursive;
  font-style: oblique;
  font-size: 30px;
  margin-top: 20px;
}

input {
  border: 3px solid black;
}
.col-md-12 h2 {
  text-align: center;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 50px;
}
.col-md-10 {
  /*display:none;*/
  border: dashed blanchedalmond 5px;
  margin-bottom: 100px;
}

.col-md-10 h4 {
  font-family: 'Slackey', cursive;
  font-size: 20px;
}

.col-md-4 #p1roll {
  font-family: 'Slackey', cursive;
  font-size: 20px;
  float: left;
  margin-right: 100px;
}

.col-md-4 #p2roll {
  font-family: 'Slackey', cursive;
  font-size: 20px;
  float: right;
  margin-left: 100px;
}

#score1 {
  float: left;
}

#score2 {
  float: right;
}

#play {
  margin-left:8px;
  border: solid black 3px;
}

.col-md-4 #roll1 {
  float: left;
  margin-bottom: 10px;
}

.col-md-4 #roll2 {
  float: right;
  margin-bottom: 10px;
}
